<a href="https://colab.research.google.com/github/cafiorin/CursoIA_Unicamp/blob/main/Lista_de_Exerc%C3%ADcios_de_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Exercícios de Python**

Esta é uma lista de exercícios sobre Listas e Dicionários em Python, a qual  visa ajudar-los a aprender e praticar operações de lista e dicionários para melhorar seu conhecimento Python. Todas as perguntas são testadas em Python 3.

Os seguintes tópicos sobre listas são apresentados:

* Operações e manipulações da lista Python
* Funções de lista Python
* Slicing da lista Python
* Compreensão da lista Python
* Operações e manipulações de dicionário Python
* Funções de dicionário Python
* Compreensão do dicionário Python

Caso tenha algum dúvida, entrar em contato: souza.m.allan@gmail.com

# **Listas**

## **Inverta a sequência de um lista**

In [ ]:
lista_00 = [100, 200, 300, 400, 500]

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
[500, 400, 300, 200, 100]
</pre>

## **Concatene duas listas pelos índices**

In [ ]:
lista_01 = ['E', 'm', 'cha', 'Jo']
lista_02 = ['u', 'e', 'mo', 'ão']

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
['Eu', 'me', 'chamo', 'João']
</pre>

## **Dada uma lista de números. Transforme cada item da lista em seu quadrado**

In [ ]:
lista_03 = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
</pre>

## **Dada duas listas. Iteresobre elas simultaneamente, de modo que a lista_04 exiba os itens na ordem original e a lista_05 na ordem inversa**

In [ ]:
lista_04 = [10, 20, 30, 40, 50]
lista_05 = [100, 200, 300, 400, 500]

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
10 500
20 400
30 300
40 200
50 100
</pre>

## **Remova a string vazia da listas de strings**

In [ ]:
lista_06 = ['José', 'Maria', 'Paulo', '', 'Pedro', '', 'Ana']

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
['José', 'Maria', 'Paulo', 'Pedro', 'Ana']
</pre>

## **Adicione o número 7000 após o número 6000 na seguinte lista**

In [ ]:
list_07 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

#########################################
#         Escreva o código aqui
#########################################

In [ ]:
list_07[2][2].insert(2, 7000)
list_07

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

##### Resultado esperado:
<pre>
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]
</pre>

## **Dada uma lista aninhada, adicione a sub-lista ["h", "i", "j"] na posição correta**

In [ ]:
lista_08  = ['a', 'b', ['c', ['d', 'e', ['f', 'g'], 'k'], 'l'], 'm', 'n']
sub_lista = ['h', 'i', 'j']

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']
</pre>

## **Dada uma lista, encontre o valor 20 e, se estiver presente, substitua-o por 200. Atualize apenas a primeira ocorrência do valor**

In [ ]:
lista_09 = [5, 10, 15, 20, 25, 50, 20]

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
[5, 10, 15, 200, 25, 50, 20]
</pre>

# **Dicionários**

## **Converta as seguintes listas para dicionários**

In [ ]:
chaves  = ['Dez', 'Vinte', 'Trinta']
valores = [10, 20, 30]

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
{'Dez': 10, 'Vinte': 20, 'Trinta': 30}
</pre>

## **Junte os seguintes dois dicionários Python em um só**

In [ ]:
dicionario_01 = {'Dez' : 10, 'Vinte' : 20, 'Trinta' : 30}
dicionario_02 = {'Trinta' : 30 , 'Quarenta' : 40, 'Cinquenta' : 50}

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
{'Dez': 10, 'Vinte': 20, 'Trinta': 30, 'Quarena': 40, 'Cinquenta': 50}
</pre>

## **Acesse o valor da chave "história" do dicionário abaixo**

In [ ]:
dicionario_03 = {
   "Turma":{
      "Aluno":{
         "Nome": "João",
         "Notas": {
            "Física"  : 70,
            "História" : 80
         }
      }
   }
}

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
80
</pre>

## **Inicializar dicionário com valores padrão**

In [ ]:
empregados     = ['Ana', 'Maria', 'João']
valores_padrao = {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000}

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
{ 'Ana': {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000},
  'Maria': {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000},
  'João': {'Cargo' : 'Desenvolvedor', 'Salário' : 8_000}
}
</pre>

## **Crie um novo dicionário extraindo as seguintes chaves de um dicionário abaixo**

In [ ]:
dicionario_04 = {
  "Nome"   : "Maria",
  "Idade"  : 25,
  "Salário": 8_000,
  "Cidade" : "São Paulo"

}

chaves_para_extrair = ['Nome', 'Salário']

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
{'Nome': 'Maria', 'Salário': 8000}
</pre>

## **Exclua um conjunto de chaves de um dicionário**

In [ ]:
dicionario_05 = {
  "Nome"   : "Maria",
  "Idade"  : 25,
  "Salário": 8_000,
  "Cidade" : "São Paulo"

}

chaves_para_excluir = ['Nome', 'Salário']

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
{'Cidade': 'São Paulo', 'Idade': 25}
</pre>

## **Verifique se o valor 200 existe no dicionário**

In [ ]:
dicionario_06 = {'a' : 100, 'b' : 200, 'c' : 300}

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
True
</pre>

## **Renomeie a chave Cidade para localização no seguinte dicionário**

In [ ]:
dicionario_07 = {
  "Nome"   : "Maria",
  "Idade"  : 25,
  "Salário": 8_000,
  "Cidade" : "São Paulo"

}

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
{
  "Nome": "Maria",
  "Idade":25,
  "Salário": 8000,
  "Localização": "São Paulo"
}
</pre>

## **Obtenha a chave de um valor mínimo do seguinte dicionário**

In [ ]:
dicionario_08 = {
  'Física'    : 82,
  'Matemática': 65,
  'História'  : 75
}

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
Matemática
</pre>

## **Alterar o salário de João para 8500 em um determinado dicionário Python**

In [ ]:
dicionario_09 = {
     'Empregado_1': {'Nome': 'Ana',   'Salário': 7500},
     'Empregado_2': {'Nome': 'Maria', 'Salário': 8000},
     'Empregado_3': {'Nome': 'João',  'Salário': 6500}
}

#########################################
#         Escreva o código aqui
#########################################

##### Resultado esperado:
<pre>
'Empregado_1': {'Nome': 'Ana',   'Salário': 7500},
'Empregado_2': {'Nome': 'Maria', 'Salário': 8000},
'Empregado_3': {'Nome': 'João',  'Salário': 8500}
</pre>